# backup files (if any)
*~
*.bak

# hidden files
.*

# except this file, of course!
!.gitignore
!.gitmodules

# ctags-exuberant tags file can be manually generated so it doesn't need to be
# in the vcs
test-ct/tags

# Devel::Cover directory
test-ct/cover_db/

test-ct/blib*
test-ct/inc*
*_local*
test-ct/META*
test-ct/MYMETA.*
*Makefile
*~
*_Inline*

Test-CT-0.*
test-ct/etc/test_out/
# this only exists in mistake
test-ct/t/all-tests.t
