# backup files (if any)
*~
*.bak

# hidden files
.*

# except this file, of course!
!.gitignore
!.gitmodules

# ctags-exuberant tags file can be manually generated so it doesn't need to be
# in the vcs
tags

# Devel::Cover directory
cover_db/

blib*
inc*
*_local*
META*
MYMETA.*
Makefile
*~
*_Inline*

Test-CT-0.*
etc/test_out/